header{
    background-color: #e09f3c;
    column-count:3;
    column-rule: 2px solid rgb(0, 0, 0);
  }

  .nav-ul{
    background-color: #e09f3c;
    column-count:3;
    column-rule: 2px solid rgb(0, 0, 0);
    font-family: 'Bangers', cursive;
  }
  
